body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    background-color: #161616;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #ffcc00; /* 黄色系 */
}

ul {
    list-style: none;
}
